---
import "../styles/gallery.css";
import galleryData from "../data/gallery.json";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/gallery/*",
  { eager: true },
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>photo gallery</title>
    <link
      rel="icon"
      href="/src/images/gallery/tarepanda1.png"
      type="image/png"
    />
  </head>
  <body>
    <div id="loading-screen">
      <Image
        src={images[`/src/images/gallery/tarepanda1.png`]?.default}
        alt="loading..."
        width={600}
        id="loading-image"
      />
    </div>

    <div id="main-content">
      <div id="audio-div">
        <a href="/">&larr; home</a>
        <audio controls src="/audio/music/When someone's mind is in a hurry.mp3"
        ></audio>
        <a href="https://www.youtube.com/watch?v=UMcqpEuMUrs" target="_blank"
          >audio credit. ݁₊ ⊹ . ݁ ⟡ ݁ . ⊹ ₊ ݁.</a
        >
        <p>
          thank you for visiting my photo gallery ⸜(｡˃ ᵕ ˂ )⸝♡-ˋˏ ༻ ❁ ✿ ❀༺ ˎ‧₊˚❀
          ༉ ‧₊ ˚. ☘︎
        </p>
      </div>
      <div id="gallery" class="masonry-grid">
        {
          galleryData.map(({ url, caption }) => {
            const image = images[`/src/images/gallery/${url}`]?.default;
            if (!image) return null;

            return (
              <div class="masonry-item">
                <Image
                  src={image}
                  alt={String(caption ?? "")}
                  class="gallery-image"
                />
                {caption && <div class="caption">{caption}</div>}
              </div>
            );
          })
        }
      </div>
    </div>

    <script>
      // SCRIPT: wait for images in initial viewport to load, then remove loading page
      // add promise to each image
      const imagePromise = (img: HTMLImageElement) => {
        if (img.complete) return Promise.resolve();

        return new Promise<void>((resolve) => {
          img.addEventListener("load", () => resolve(), { once: true });
          img.addEventListener("error", () => resolve(), { once: true });
        });
      };
      // filter to only images in initial viewport
      const inInitialViewport = (img: HTMLImageElement) => {
        const rect = img.getBoundingClientRect();
        return rect.top < window.innerHeight && rect.bottom > 0;
      };
      // remove loading ui
      const showPage = () => {
        const loadingScreen = document.getElementById("loading-screen");
        const mainContent = document.getElementById("main-content");

        mainContent!.classList.add("visible");
        loadingScreen!.classList.add("hidden");
        // remove loader from layout after transition
        setTimeout(() => {
          loadingScreen!.style.display = "none";
        }, 400);
      };
      const init = async () => {
        // get all images
        const imageNodes = Array.from(document.querySelectorAll("img"));
        // find images in initial viewport and wait for only those
        const initialImages = imageNodes.filter((img) =>
          inInitialViewport(img),
        );
        await Promise.all(initialImages.map(imagePromise));
        // once initial images have loaded, show gallery
        showPage();
      };

      void init();
    </script>
  </body>
</html>
