---
import "../styles/globals.css";
---

<div>
  <button onclick="location.href='/'">home</button>
  <img src="/images/under-construction.png" alt="Under Construction" />
</div>

<style>
  html {
    overflow: hidden;
  }

  div {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 25%;
  }

  button {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
</style>
