@font-face {
	font-family: 'cookie-monster';
	src: url('../fonts/Cookiemonster/Cookiemonster-gv11.ttf') format('truetype');
}

@font-face {
	font-family: 'messy-handwritten';
	src: url('../fonts/MessyHandwritten/MessyHandwritten-Regular.ttf') format('truetype');
}

html {
	font-family: simsun, messy-handwritten, cookie-monster, serif; 
	scroll-behavior: smooth; 
}

div {
	display: flex; 
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

h1 {
	font-size: 3vw; 
	margin: 4vh; 
}

h2 {
	font-size: 2vw; 
}

h3 {
	font-size: 1.5vw; 
	margin: 2vh; 
}

p {
	font-size: 1vw;
	text-align: center; 
	margin: 0; 
}

a {
	color: #808A91;
	text-shadow: 0 0 5px #F6F7F1, 0 0 10px #F6F7F1;
	font-size: 1.5vw; 
}

#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #D1D682;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	overflow: hidden; 
}

.spinner {
	width: 10vw;
	animation: spin 2s linear infinite;
}
  
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

#main-content {
	display: none; 
}

header {
	width: 100%;
	height: 100vh;
	box-sizing: border-box; 
	background-image: url('../images/portfolio/Fondo Spring Butterfly Gorjuss.jpg');
	background-size: cover; 
	background-position: center;
	display: flex; 
	align-items: center; 
	justify-content: center;
	position: relative; 
}

nav {
	position: absolute; 
	top: 0; 
}

header > div {
	position: relative; 
	text-align: center; 
	width: 43%;
	aspect-ratio: 3 / 2; 
	z-index: 1; 
}

#border {
	position: absolute; 
	left: 0; 
	width: 120%;
	height: auto;
	opacity: 0.9; 
}

header > div > div {
	position: absolute; 
	top: 25%; 
	right: 20%;
	text-align: center; 
	transform: rotate(-3deg); 
	z-index: 2; 
	width: 60%;
	height: 45%;
	/* border: 1px solid black;  */
}

header > div > div > p {
	font-size: min(15vh, 4vw); 
	margin: 5% 0; 
	color: #272321;
	font-weight: bold; 
	text-align: end; 
	text-shadow: 0 0 5px #5A422A, 0 0 10px #AE7877;
}

#name {
	color: #423B35;
	font-family: messy-handwritten, cookie-monster, simsun, serif; 
	text-shadow: 0 0 5px #5A422A, 0 0 20px #9CA364;
}

.decal {
	position: absolute; 
	opacity: 0.8; 
}

#clip {
	top: -10%; 
	right: 5%; 
	height: 60%; 
}

#yellowflower {
	width: 30%; 
	top: -5%;
	left: 5%;
}

#blueflower {
	width: 40%;
	bottom: -10%;
	right: -10%;
}

header > a {
	position: absolute; 
	bottom: -4%; 
	box-sizing: border-box; 
	width: 4%; 
	aspect-ratio: 1 / 1; 
	background-image: url('../images/portfolio/butterfly.png');
	background-size: contain; 
	background-position: center; 
	background-repeat: no-repeat; 
	z-index: 1; 
	border-radius: 50%;
	box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.3), inset 0 0 10px 10px rgba(255, 255, 255, 0.3);
	/* border: 1px solid black;  */
}

header, #info, .project-group, .project-div {
	border-radius: 5%; 
	box-shadow: inset 0 0 10px 15px #F6F7F1; 
}

header, #info {
	box-shadow: inset 0 0 10px 15px #f6f7f1, 0 0 10px 15px #F6F7F1;
	box-sizing: border-box; 
}

#info {
	background-image: linear-gradient(to bottom, rgba(246, 247, 241, 0.8), rgba(246, 252475, 241, 0.4), rgba(246, 252475, 241, 0.2)), url('../images/portfolio/quilt.jpg');
	background-size: 30%;
	background-position: center; 
	text-shadow:  0 0 5px #F6F7F1,
	0 0 6px #F6F7F1,
	0 0 7px #F6F7F1, 
	0 0 8px #F6F7F1,
	0 0 9px #F6F7F1, 
	0 0 10px #F6F7F1, 
	0 0 11px #F6F7F1,
	0 0 12px #F6F7F1, 
	0 0 13px #F6F7F1,
	0 0 14px #F6F7F1, 
	0 0 15px #F6F7F1, 
	0 0 20px #F6F7F1,
	0 0 25px #F6F7F1, 
	0 0 30px #F6F7F1, 
	0 0 35px #F6F7F1,
	0 0 40px #F6F7F1, 
	0 0 45px #F6F7F1,
	0 0 50px #F6F7F1, 
	0 0 60px #F6F7F1;  
	padding: 4%;
}

#about {
	width: 60%; 
}

.contact-container {
	flex-direction: row; 
	margin: 1%;
	height: 10vh; 
}

.contact-container:nth-of-type(1) {
	height: 6vh; 
}

.contact-container a {
	height: 100%; 
	width: auto; 
	padding: 5%; 
	box-sizing: border-box; 
	display: flex; 
	align-items: center; 
}

.contact-container img {
	height: 100%; 
	width: auto; 
}

#projects {
	width: 100%; 
	text-align: center; 
}

#personal {
	background-image: url('../images/portfolio/plaid.jpg');
	background-size: 50%;
}

#class {
	background-image: url('../images/portfolio/polkadots.jpg');
	background-size: 50%;
}

.project-group {
	width: 85%; 
	margin: 2%; 
}

.project-container {
	flex-direction: row; 
	justify-content: space-evenly; 
}

.project-div {
	background-color: #F6F7F1;  
	width: 20%; 
	padding: 1vw; 
	margin-bottom: 4vh; 
}

.link-out:hover {
	cursor: pointer; 
	opacity: 0.8; 
}

.link-out > img, .img-div > img {
	width: 100%; 
}