#tama-game {
	background-image: url('../../images/index/jump/plaid.jpg'); 
	background-size: cover; 
	z-index: 1; 
	opacity: 0.9; 
	display: none; 
}

#tama-game > div {
	background-color: #FAFBF3; 
	position: relative; 
	height: 80%; 
	top: 10%; 
}

#tama-game p {
	padding-top: 2%; 
	font-size: .9vw; 
	color: #4B4C83; 
	text-shadow: 
		-.5px -.5px 0 #6EB7D6,
		.5px -.5px 0 white,
		-.5px .5px 0 white,
		.5px .5px 0 white,
		0px 0px 2px #4B4C83;
}

.score-div {
	position: absolute; 
	top: 25%;  
	right: 4%; 
	width: 20%; 
	text-align: center; 
}

.flash {
	animation: flash .5s; 
}

@keyframes flash {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}

#tama-game .game-over {
	width: 100%; 
	text-align: center; 
	position: absolute; 
	bottom: 50%; 
	transform: translateY(50%); 
	display: none; 
}

#tama-game .game-over p {
	text-shadow: 
		-.5px -.5px 0 #E58FB1,
		.5px -.5px 0 white,
		-.5px .5px 0 white,
		.5px .5px 0 white,
		0px 0px 2px #4B4C83;
}

#tama-game .game-over p:nth-of-type(2) { 
	font-size: 0.35vw; 
}

@keyframes jump {
	0% { bottom: 0; }
	50% { bottom: 30%; }
	100% { bottom: 0; }
}

.jump {
	animation: jump 1s cubic-bezier(0.25, 1, 0.5, 1); 
}

#tama-game #mametchi {
	height: 40%; 
	position: absolute; 
	bottom: 0; 
	left: 10%; 
	opacity: 1.5; 
}

@keyframes obstacle {
	0% { left: 110%; }
	100% { left: -20% }
}

.obstacle {
	animation: obstacle 1.2s linear;
}

#tama-game span {
	position: absolute; 
	font-size: 1vw; 
	bottom: 0; 
	left: 110%; 
	color: #4B4C83; 
}