.modal {
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%; 
	aspect-ratio: 1 / 1.2; 
	border-radius: 100px; 
	background-color: transparent; 
	background-image: url('../../images/index/tama.png'); 
	background-size: 100% 100%; 
	display: none; 
	grid-template-rows: 1.3fr 1.7fr .2fr 4.7fr 1.5fr 1.5fr 1fr; 
	grid-template-columns: 2.5fr .6fr .4fr .5fr 1fr .6fr .4fr .6fr 2.4fr; 
	cursor: pointer; 
}

.modal:active {
	cursor: grabbing;
}

.modal:focus {
	outline: none; 
}

#screen-div {
	grid-area: 4 / 2 / 5 / 9;
	border-radius: 5px; 
	position: relative; 
}

#screen-div::after {
	content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; 
	box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 1);
	pointer-events: none;
}

@font-face {
	font-family: 'tama-connection';
	src: url('../../fonts/TamaConnectType/tamaconnecttype.ttf') format('truetype');
}

.tama-screen {
	width: 100%; 
	height: 100%; 
	border-radius: inherit; 
	font-family: 'tama-connection'; 
	color: black; 
	text-shadow: none; 
	overflow: hidden; 
}

#music-image {
	opacity: 0.9; 
	position: absolute; 
	user-select: none; 
}

#instructions {
	background-color: lightgrey;
	opacity: 0.8; 
	position: relative; 
}

.tama-screen p {
	padding-top: 8%; 
	margin: 0; 
	text-align: center; 
	font-size: 0.6vw; 
}

#instructions ul {
	width: 100%; 
	margin: 0; 
	padding: 2% 4% 2% 20%; 
	font-size: .55vw; 
	position: relative; 
	box-sizing: border-box; 
}

.modal button {
	background-color: transparent; 
	padding: 0; 
	width: 100%;
	height: 70%; 
	position: absolute; 
	border-radius: 30px; 
	border-color: transparent; 
}

.modal button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 1), inset 0 0 5px rgba(255, 255, 255, 1);
	opacity: 0.2; 
	cursor: pointer; 
}

.modal button:focus {
	outline: none; 
}

#heart-btn {
	grid-area: 2 / 3 / 3 / 8;
	width: 100%; 
	height: 100%; 
	border-radius: 3px; 
}

#heart-btn:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 1), inset 0 0 5px rgba(255, 255, 255, 1);
}

#previous {
	grid-area: 6 / 2 / 7 / 4; 
}

#play {
	grid-area: 6 / 5 / 7 / 6; 
	bottom: 0; 
}

#next {
	grid-area: 6 / 7 / 7 / 9;
}