body {
    font-family: 'Arial Condensed', Helvetica, Arial, sans-serif;
    background-image: url('/images/gallery/skull-gray-bg.jpg');
    background-attachment: fixed;
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
/* loading screen items */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}
#loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
}
#loading-image {
    width: 15%;
    animation: float 2s ease-in-out infinite;
    will-change: transform;
}
@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}
/* main content */
#main-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 0s linear 0.5s; /* delay visibility change */
}
#main-content.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease;
}
#audio-div {
    display: flex;
    align-items: center; 
    box-sizing: border-box; 
    padding: 0 1%;
    gap: 2%;
    width: 100%;
    margin-bottom: 1rem;
    background: transparent;
    border-radius: 10px;
    box-shadow: 
        inset 0 0 20px 60px #F1F3F4,
        0 0 15px 15px #F1F3F4;
    font-weight: bold;
}
audio {
    flex: 1 1 0;
    width: 100%;
    min-width: 250px;
}
a, p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* grid */
.masonry-grid {
    column-count: 5;
    column-gap: 16px;
    margin: 0;
}
@media (max-width: 1200px) {
    .masonry-grid { column-count: 3; }
}
@media (max-width: 800px) {
    .masonry-grid { column-count: 2; }
}
@media (max-width: 500px) {
    .masonry-grid { column-count: 1; }
}