@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	background-color: black;
	color: white; 
	font-family: "Death Note", sans-serif; 
	position: relative;
	padding: 3rem;
	box-sizing: border-box;
}

@font-face {
	font-family: "Death Note";
	src: url("/fonts/death-note/Death Note.ttf") format("truetype");
}

@font-face {
	font-family: "Beyond Wonderland";
	src: url("/fonts/Beyond Wonderland.ttf") format("truetype");
}

/* ========================= NAV ==================== */

nav {
	font-size: 1.5rem;
	position: fixed;
	padding-right: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex; 
	flex-direction: column; 
	gap: 1.5rem;
}

li {
	display: flex;
	align-items: center;
}

li > img.sword {
	height: 2rem;
	margin-left: 1rem;
	opacity: 0;
	transition: opacity 0.3s ease;
}

li.active > img.sword {
	opacity: 1;
}

a {
	color: white; 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
	text-shadow: 0 0 5px white, 0 0 10px white;
}

/* ======================== MAIN ======================= */

main {
	flex: 1; 
	display: flex; 
	flex-direction: column; 
	align-items: center;
	justify-items: center; 
	margin: 0 0 5% 15%;
	padding: 0 3rem;
	gap: 4rem;
}

/* ============================== HEADER ========================= */

header {
	width: 100%;
	display: flex; 
	justify-content: center; 
	align-items: center;
	perspective: 1000px;
	margin-top: 4rem;
}

h1 {
	font-size: 5rem;
	font-family: "Beyond Wonderland", "Pinyon Script", "Death Note", sans-serif;
	font-weight: 200;
	white-space: nowrap;
}

#lotus-decal {
	position: absolute; 
	margin-top: 1rem;
	width: 15rem;
	/* z-index: -1 i actually like the lotus on top */
}

@media (max-width: 768px) {
	header {
		margin-top: 2rem;
	}
	h1 {
		font-size: 3rem;
	}
	#lotus-decal {
		width: 10rem;
		margin-top: 0.5rem;
	}
}

/* wings */

.wing {
	width: 15rem;
	transition: transform 0.5s ease-out;
	transform-style: preserve-3d;
	z-index: 20;
}

#cyber-wing-img-left {
	transform-origin: right center;
}

#cyber-wing-img-right {
	transform-origin: left center;
}

/* ============================== SECTIONS ========================= */

section {
	width: 100%; 
	box-sizing: border-box; 
	font-family: "Death Note", sans-serif; 
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-bottom: 4rem; */
}

.section-header-div {
	display: flex; 
	align-items: center;
}

h2 {
	font-size: 2rem;
	text-shadow: 0 0 10px white;
}

.section-sword-left {
	height: 2rem;
	margin-right: 1rem;
}

.section-sword-right {
	height: 2rem;
	margin-left: 1rem;
	transform: scaleX(-1);
}

#about {
	text-align: center;
}

#about-img {
	width: 10rem;
	margin-top: 1rem;
}

p {
	font-family: "IBM Plex Mono", monospace;
}

/* contact buttons */

#contact-buttons-div {
	width: 100%;
	display: flex;
	justify-content: center;
}

#contact-buttons-div > a {
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white; 
	font-family: "Death Note", sans-serif; 
	min-width: 8rem;
}

button {
	background: transparent;
	border: none; 
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white; 
	font-family: "Death Note", sans-serif; 
	min-width: 8rem;
}

button > img {
	height: 5rem;
	margin-bottom: 0.5rem;
}

#contact-buttons-div > a > img {
	height: 5rem;
	margin-bottom: 0.5rem;
}


/* copy tooltip */

.copy-tooltip {
	position: absolute;
	color: white;
	text-shadow: 1px 1px 3px black, 0px 0px 5px white;
	pointer-events: none;
	z-index: 20;
	animation: fadeOut 1.5s ease forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translate(-50%, -120%);
	}
	70% {
		opacity: 1;
		transform: translate(-50%, -120%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -140%);
	}
}

/* decals */

#belt-decal {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 2rem;
	height: 20rem;
}

.cyber-decal {
	position: absolute;
	width: 30rem;
	opacity: 0.6; 
}

#cyber-decal-top {
	top: 0; 
	right: 0; 
}

#cyber-decal-left {
	top: 0; 
	left: 15%; 
	transform: scaleX(-1);
}

#cyber-decal-bottom {
	bottom: 0; 
	right: 0; 
	transform: scaleY(-1);
	width: 20rem;
}

#skeleton-angel-decal {
	width: 30rem;
	position: absolute;
	bottom: 0; 
	left: 0; 
}

.crack {
	position: absolute;
	width: 5rem;
	z-index: 1000;
	transition: opacity 0.5s ease;
	transform: translate(-50%, -50%);
}